body {
	background-size: cover;
	padding: 0;
	background: url(original.gif) no-repeat fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 0px;
	font: 20px Ariel, sans-serif;

}
h1 {
	align-content: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 110px;
	letter-spacing: 0.1px;
	color: #7CB9E8;
	text-shadow: 5px 5px 10px #000000;
	background-size: cover;
	background-clip: content-box;

}
h2 {
	align-content: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 50px;
	letter-spacing: 1px;
	color: 	#2E5894;
	text-shadow: 5px 5px 10px #000000;
	background-size: cover;
	background-clip: content-box;

}
h3 { 
	font: italic bold 50px georgia, sans-serif;
	letter-spacing: 1px; 
	text-shadow: 5px 5px 10px #000000;
	margin-bottom: 0; 
	color: #C19A6B;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #54626F;
}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #555D50;
}
p {
	font: bold 25px Courier, sans-serif;
	letter-spacing: 0px;
	color: #1B1811;
	border: 2px solid #C19A6B;
  	border-radius: 12px;
  	background-image: url("paper-background.jpg");
  	word-spacing: 0px;
  	text-shadow: 3px 3px 6px #696969;
}

